<nz-layout>
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-search></app-search>
        <app-form></app-form>
      </div>
      <div class="col-md-9">
       <!-- <app-home></app-home>-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
    <app-footer></app-footer>
    <!--<app-stock (price)="priceQuteHandle($event)"></app-stock>
    <p>股票名称是：{{stockInfo.stockCode}}，股票代码是：{{stockInfo.price | number: '2.2-2'}}</p>-->

 <!-- <app-stock (price)="priceQuteHandle($event)" ></app-stock>
  <app-order [priceQuote]="stockInfo"></app-order>-->
</nz-layout>


<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-search></app-search>
    </div>
    <div class="col-md-9">
      <div class="row carousel-container">
        <app-slider></app-slider>
      </div>
      <div class="row">
        <app-product></app-product>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>-->

