<div nz-row>
  <div nz-col [nzSpan]="24">
    <div class="form-group">
      <!--将titleFilter绑定到fromControl上-->
      <!-- <input type="text" class="form-control" placeholder="请输入商品名称" [formControl]="titleFilter"> -->
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'请输入商品名称'" (ngModelChange)="_console($event)"></nz-input>
    </div>
  </div>
</div>
<div nz-row>
  <div *ngFor=" let product of products | filter:'title':keyword;let i = index" nz-col [nzSpan]="8">
    <div *ngIf="i>=pageSize-pageOneData && i<pageSize">
      <div class="thumbnail">
        <img src="http://placehold.it/320x200">
        <div class="caption">
          <h4 class="pull-right">{{product.price}}元</h4>
          <h4>
            <a [routerLink]="['/product',product.id]">{{product.title}}</a>
          </h4>
          <p>{{product.desc}}</p>
        </div>
        <div>
          <app-stars [rating]="product.rating"></app-stars>
        </div>
      </div>
    </div>
  </div>
</div>
<app-page-list [pageParams]="{pageSize : pageSize, pageAllData : pageAllData, curPage : pageSize / pageOneData, allPage : allPage, pageOneData : pageOneData}"
  (changeCurPage)="getPageData($event)"></app-page-list>
